*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FDFBF7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(77, 40, 98);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 40, 98);
}